body{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.alert-success {
	background-color: #80d780;
	color: #282828;
}

.container {
	background-color: #F8F8F8;
}

.navbar-default {
	border-color: #a6a6a6;
}

.username {
	display: block;
	padding: 15px;
	color: #575757;
}

.register{
	color: #8a8a8a;
}
